* {
    margin: 0;
    padding: 0;
}

:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 30em;
}

body {
    background-color: #131313;
    color: #fff;
}